[Desktop Entry]
Name=DeforaOS Todo
GenericName=Todo list
Comment=Remember what you have to do
TryExec=todo
Exec=todo
Icon=todo
Type=Application
Categories=Office;GTK;
StartupNotify=true
